@use '../abstract/variables' as variables;

body {
    font-family: variables.$font-main;
    color: variables.$color-navy;
    background: variables.$color-ivory;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
    /* szerokość pionowego */
    background: #eaf2f7;
    /* tło */
}

::-webkit-scrollbar-thumb {
    background: #b2bfcf;
    /* suwak */
    border-radius: 6px;
    border: 2px solid #eaf2f7;
}

/* Firefox */
html {
    scrollbar-color: #b2bfcf #eaf2f7;
    scrollbar-width: thin;
}