// === Avatars ===
.avatar-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  @include mq(md) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.avatar {
  text-align: center;

  &__figure {
    margin: 0;
  }

  &__img,
  &__placeholder {
    width: 140px;
    height: 140px;
    border-radius: 999px;
    margin: 0 auto .5rem auto;
    object-fit: cover;
    background: #20222a;
    display: block;
  }

  &__name {
    font-weight: 600;
    font-size: .95rem;
  }
}