@use "../abstract/variables" as v;
@use "../abstract/mixins" as *;

.about {
    padding: 2rem 3rem 2rem 3rem;
    background: v.$color-white;


    &__container {
        max-width: 420px; // ogranicz szerokość na mobile!
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: v.$title-font-size-mobile;
        font-weight: 400;
        color: v.$color-navy;
        letter-spacing: 0.01em;
        position: relative;
    }

    &__text {
        font-size: v.$normal-font-size-mobile;
        line-height: 2;
        color: v.$color-navy;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__image {
        width: 80%;
        display: flex;
        justify-content: center;

    }

    @include respond(md) {
        &__container {
            max-width: 900px;
        }

        &__image img {
            max-width: 340px;
        }

        &__title {
            font-size: 2.9rem;
        }

        &__text {
            font-size: 1.08rem;
            max-width: 670px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}