@use "../abstract/variables" as v;
@use "../abstract/mixins" as *;
@use "sass:color";

$header-height: 55px;

.hero {

    width: 100%;
    overflow: hidden;
    padding-top: $header-height;
    min-height:calc(100dvh - #{$header-height});
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__bg {
        position: fixed;
        top: $header-height;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background:
            linear-gradient(180deg, rgba(22, 36, 65, 0.54) 0%, rgba(22, 36, 65, 0.48) 100%),
            url('../../assets/img/mobile.jpg') no-repeat right top / cover;
        filter: none;

    }

    &__container {
        min-height: calc(100dvh - #{$header-height});
        display: flex;
        flex-direction: column;
        justify-content: center; // Wyśrodkowanie w pionie
        align-items: center;
        text-align: center;
        gap: 2.5rem;
        padding: 4rem 1rem 3rem 1rem;
    }

    &__text {
        margin-top: 10vh;
    }



    &__title {
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: -0.01em;
        color: v.$color-white;
        line-height: 1.13;
        margin-bottom: 0.5rem;

        @include respond(md) {
            font-size: 3.5rem;
        }

        @include respond(lg) {
            font-size: 4rem;
        }
    }

    &__btn--white {
        display: inline-block;
        background: v.$color-white;
        color: v.$color-navy;
        border: none;
        border-radius: 0;
        font-weight: 700;
        font-size: 1.05rem;
        letter-spacing: 0.14em;
        padding: 0.9em 2.8em;
        box-shadow: 0 3px 15px rgba(22, 36, 65, 0.08);
        transition: background 0.18s, color 0.18s, transform 0.13s;
        text-decoration: none;
        margin-top: auto; // przesuwa przycisk na dół .hero__container
        margin-bottom: 4rem;

        &:hover,
        &:focus {
            background: v.$color-ivory;
            color: v.$color-copper;
            transform: translateY(-2px) scale(1.035);
            outline: none;
        }

        &:active {
            transform: scale(0.98);
        }
    }

    &__intro {
        display: block;
        font-size: 1.05rem;
        letter-spacing: 0.32em;
        color: v.$color-ivory;
        font-weight: 700;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        word-spacing: 0.15em;
    }

    &__subtitle {
        font-size: 1.1rem;
        color: v.$color-ivory;

        @include respond(md) {
            font-size: 1.6rem;
        }

        @include respond(lg) {
            font-size: 1.8rem;
        }
    }



    @include respond(md) {
        padding: 8rem 2rem 5rem;

        &__bg {
            background: url('../../assets/img/tlo.jpg') no-repeat center center / cover;
        }
    }
}