@use "../abstract/variables" as v;
@use "../abstract/mixins" as *;

.hippotherapy {
    background: v.$color-white;
    padding: 2rem 3rem 2rem 3rem;

    @include respond(md) {
        padding: 4rem 4rem 4rem 4rem;
    }

    &__container {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 0 1.2rem;
    }

    &__title {
        font-size: v.$title-font-size-mobile;
        font-weight: normal;
        color: v.$color-navy;
        margin-bottom: 1.5rem;
        letter-spacing: 0.01em;

        @include respond(md) {
            font-size: v.$title-font-size-tablet;

        }

        @include respond(lg) {
            font-size: v.$title-font-size-desktop;
        }
    }

    &__text {
        font-size: v.$normal-font-size-mobile;
        color: v.$color-navy;
        margin-bottom: 1.7rem;
        line-height: 1.5;

        @include respond(md) {
            font-size: v.$normal-font-size-tablet;
            line-height: 2;
        }

        @include respond(lg) {
            font-size: v.$normal-font-size-desktop;
        }
    }

    &__image {
        aspect-ratio: 16 / 10;
        width: 100%;
        overflow: hidden;
        display: block;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}