@use "../abstract/variables" as v;
@use "../abstract/mixins" as *;

.instructors {

    background: #eaf2f7;
    padding: 2rem 3rem 2rem 3rem;

    @include respond(md) {
        padding: 4rem 4rem 4rem 4rem;
    }

    @include respond(lg) {
        display: flex;
        padding: 6rem 4rem 6rem 4rem;
        height: 100vh;
        align-items: center;
        justify-content: center;

    }

    &__container {
        max-width: 410px;
        margin: 0 auto;
        text-align: center;
        padding: 0 1rem;

        @include respond(lg) {
            max-width: 1200px;
        }
    }

    &__title {
        font-size: v.$title-font-size-mobile;
        font-weight: normal;
        color: v.$color-navy;
        margin-bottom: 2.1rem;

        @include respond(md) {
            font-size: v.$title-font-size-tablet;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.1rem;

        @include respond(lg) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 2.5rem 3rem; // rzędy x kolumny
        }
    }


    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        margin-bottom: 1.2rem;

        &--main {
            margin-bottom: 1.8rem;
        }
    }

    &__item--main {
        @include respond(lg) {
            flex-basis: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            margin-bottom: 2.2rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0.6rem;

        @include respond(md) {
            gap: 5rem;
        }

        @include respond(lg) {
            gap: 5rem;
            margin-bottom: 0; // zabierz margines między rzędami
        }


    }

    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 0.7rem;
        box-shadow: 0 2px 12px rgba(22, 36, 65, 0.08);

        @include respond(md) {
            width: 120px;
            height: 120px;
        }

    }

    &__name {
        font-size: v.$bold-font-size-mobile;
        color: v.$color-navy;
        font-weight: 700;
        margin-bottom: 0.1rem;

        @include respond(md) {
            font-size: v.$bold-font-size-tablet;
        }

        @include respond(lg) {
            font-size: v.$bold-font-size-desktop;
        }
    }

    &__phone {
        font-size: v.$normal-font-size-mobile;
        font-weight: 600;
        color: v.$color-navy;

        @include respond(md) {
            font-size: v.$normal-font-size-tablet;
        }

        @include respond(lg) {
            font-size: v.$normal-font-size-desktop;
        }
    }

    &__desc {
        font-size: v.$normal-font-size-mobile;
        color: v.$color-navy;
        margin-top: 0.1rem;
        font-weight: 400;
        letter-spacing: 0.01em;


        @include respond(md) {
            font-size: v.$normal-font-size-tablet;
        }

        @include respond(lg) {
            font-size: v.$normal-font-size-desktop;
        }
    }
}