@use "../abstract/variables" as v;
@use "../abstract/mixins" as *;

.instructors {

    background: #eaf2f7;
    padding: 2rem 3rem 2rem 3rem;

    &__container {
        max-width: 410px;
        margin: 0 auto;
        text-align: center;
        padding: 0 1rem;
    }

    &__title {
        font-size: v.$title-font-size-mobile;
        font-weight: normal;
        color: v.$color-navy;
        margin-bottom: 2.1rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.1rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        margin-bottom: 1.2rem;

        &--main {
            margin-bottom: 1.8rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.2rem;
        margin-bottom: 0.6rem;
    }

    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 0.7rem;
        box-shadow: 0 2px 12px rgba(22, 36, 65, 0.08);

    }

    &__name {
        font-size: v.$bold-font-size-mobile;
        color: v.$color-navy;
        font-weight: 700;
        margin-bottom: 0.1rem;
    }

    &__phone {
        font-size: v.$normal-font-size-mobile;
        font-weight: 600;
        color: v.$color-navy;
    }

    &__desc {
        font-size: v.$normal-font-size-mobile;
        color: v.$color-navy;
        margin-top: 0.1rem;
        font-weight: 400;
        letter-spacing: 0.01em;
    }
}