@use "../abstract/variables" as v;
@use "../abstract/mixins" as *;

.services {
    background: #eaf2f7;
    padding: 2rem 3rem 2rem 3rem;

    &__container {
        max-width: 370px;
        margin: 0 auto;
        text-align: center;
        padding: 0 1rem;
    }

    &__title {
        font-size: v.$title-font-size-mobile;
        font-weight: normal;
        color: v.$color-navy;
        margin-bottom: 1.9rem;
        letter-spacing: 0.01em;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__item {
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        border: none;
        box-shadow: none;
    }

    &__img {
        width: 100%;
        display: block;
        aspect-ratio: 16 / 10;
        object-fit: cover;
        object-position: center;
    }

    &__content {
        background: #fff;
        border: 1.5px solid v.$color-navy;
        width: 100%;
        max-width: 370px;
        margin-top: 0.45rem; // lekkie nachodzenie na obrazek, opcjonalnie
        padding: 1.15rem 1rem 1.2rem 1rem;
        text-align: center;
        box-sizing: border-box;
        z-index: 1;
        position: relative;
    }

    &__item-title {
        font-family: inherit;
        font-size: v.$normal-font-size-mobile;
        font-weight: 600;
        color: v.$color-navy;
        margin-bottom: 0.35rem;
        letter-spacing: 0.01em;
    }

    &__item-desc {
        font-size: v.$normal-font-size-mobile;
        color: v.$color-navy;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
    }
}