@use "../abstract/variables" as v;
@use "../abstract/mixins" as *;

.trainings {
    background: v.$color-white;
    padding: 2rem 3rem 2rem 3rem;

    @include respond(md) {
        padding: 4rem 4rem 4rem 4rem;
    }

    @include respond(lg) {
        display: flex;
        padding: 6rem 4rem 6rem 4rem;
        height: 100vh;
        align-items: center;
        justify-content: center;

    }

    &__container {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 0 1rem;

        @include respond(lg) {
            max-width: 1200px;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        font-size: v.$title-font-size-mobile;
        font-weight: normal;
        color: v.$color-navy;
        margin-bottom: 2.1rem;
        letter-spacing: 0.01em;

        @include respond(md) {
            font-size: v.$title-font-size-tablet;
        }

        @include respond(lg) {
            font-size: v.$title-font-size-desktop;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.1rem;

        @include respond(lg) {
            flex-direction: row;
            justify-content: center;
            gap: 2.5rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        padding: 0;
        border: none;
        box-shadow: none;

        @include respond(lg) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 16 / 10;
        object-fit: cover;
        object-position: center;

        @include respond(lg) {
            height: 230px;
            width: auto;
        }
    }

    &__content {
        background: v.$color-white;
        width: 100%;
        margin-top: -0.4rem;
        padding: 1.08rem 0.7rem 1.12rem 0.7rem;
        text-align: center;
        box-sizing: border-box;
        z-index: 1;
        position: relative;
    }

    &__item-title {
        font-size: v.$bold-font-size-mobile;
        font-weight: 700;
        color: v.$color-navy;
        margin-bottom: 0.3rem;

        @include respond(md) {
            font-size: v.$bold-font-size-tablet;
        }

        @include respond(lg) {
            font-size: v.$bold-font-size-desktop;
        }
    }

    &__item-desc {
        font-size: v.$normal-font-size-mobile;
        color: v.$color-navy;
        font-weight: 400;
        line-height: 1.48;
        margin: 0;

        @include respond(md) {
            font-size: v.$normal-font-size-tablet;
        }

        @include respond(lg) {
            font-size: v.$normal-font-size-desktop;
        }
    }
}