@use "variables" as v;
@use 'sass:map';

$breakpoints: (
    xs: 0,
    // od 0px - telefony bardzo małe
    sm: 480px,
    // telefony poziomo/większe ekrany
    md: 767px,
    // tablety (iPad w pionie)
    lg: 1024px,
    // tablety w poziomie, małe laptopy
    xl: 1280px,
    // standardowe laptopy
    xxl: 1440px // duże monitory
);

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin respond($breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
        @content;
    }
}