// Kolory
$color-navy: #162441;
$color-copper: #C4533D;
$color-accent: $color-copper;
$color-ivory: #F6F4EF;
$color-border: #ececec;
$color-white: #f7f7f7;
$color-green: #3d6641;
$radius-sm: 4px;
$radius-md: 12px;
$radius-lg: 32px;

$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.08);
$shadow-md: 0 4px 16px rgba(0, 0, 0, 0.10);
$shadow-lg: 0 8px 32px rgba(0, 0, 0, 0.15);

//font
$font-main: 'Roboto', sans-serif;

$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1200px;


// Header spacing
$header-mobile-padding-x: 1rem;
$header-tablet-padding-x: 1.5rem;
$header-desktop-padding-x: 4rem;

$logo-font-size-mobile: 1.15rem;
$logo-font-size-tablet: 1.23rem;
$logo-font-size-desktop: 2rem;

$menu-gap-mobile: 0;
$menu-gap-tablet: 0.7rem;
$menu-gap-desktop: 2.2rem;

$menu-link-padding-mobile: 1.1em 1.1em;
$menu-link-padding-tablet: 0.8em 0.6em;
$menu-link-padding-desktop: 0.2em 0.7em;

$hamburger-size-mobile: 36px;
$hamburger-size-tablet: 40px;
$hamburger-span-width-mobile: 24px;
$hamburger-span-width-tablet: 28px;


$breakpoints: (
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);