// Kolory
$color-navy: #162441;
$color-copper: #C4533D;
$color-accent: $color-copper;
$color-ivory: #F6F4EF;
$color-border: #ececec;
$color-white: #f7f7f7;



//font
$font-main: 'Roboto', sans-serif;

$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1200px;


// Header spacing
$header-mobile-padding-x: 1rem;
$header-tablet-padding-x: 1.5rem;
$header-desktop-padding-x: 4rem;

$logo-font-size-mobile: 1.15rem;
$logo-font-size-tablet: 1.23rem;
$logo-font-size-desktop: 2rem;

$menu-gap-mobile: 0;
$menu-gap-tablet: 0.7rem;
$menu-gap-desktop: 2.2rem;

$menu-link-padding-mobile: 1.1em 1.1em;
$menu-link-padding-tablet: 0.8em 0.6em;
$menu-link-padding-desktop: 0.2em 0.7em;

$hamburger-size-mobile: 36px;
$hamburger-size-tablet: 40px;
$hamburger-span-width-mobile: 24px;
$hamburger-span-width-tablet: 28px;